<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
	 colors="true"
>
    <php>
        <ini name="intl.default_locale" value="en"/>
    </php>

    <testsuites>
        <testsuite name="PHPDOC Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib</directory>
            <exclude>
                <directory>./lib/phpopendoc/PHPDOC/XSL</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>