<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
	 colors="true"
>
    <php>
        <ini name="intl.default_locale" value="en"/>
    </php>

    <testsuites>
        <testsuite name="PHPDOC Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib</directory>
            <exclude>
                <directory>./lib/phpopendoc/PHPDOC/XSL</directory>

                <!-- PHPUnit 3.6 doesn't seem to have a better way to do this;
                    I can't get wildcards to work. v3.7  may fix this. -->
                <file>./lib/phpopendoc/PHPDOC/Document/WriterInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/CharacterInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/BlockInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/BookmarkInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/BookmarkMarkInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/ElementInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/ElementException.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/HeaderFooterInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/ImageInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/LinkInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/ParagraphInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/SectionInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/SectionException.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/TableInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/TextInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Element/TextRunInterface.php</file>
                <file>./lib/phpopendoc/PHPDOC/Property/PropertiesInterface.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
